  <table mat-table multiTemplateDataRows [dataSource]="dataArr" class="mat-elevation-z8">

    <ng-container matColumnDef="office_id" >
      <th mat-header-cell *matHeaderCellDef>Офис</th>
      <td mat-cell  *matCellDef="let row"></td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="wh_id">
      <th mat-header-cell *matHeaderCellDef>Склад</th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="dt_date">
      <th mat-header-cell *matHeaderCellDef>Дата</th>
      <td mat-cell *matCellDef="let row">{{row.dt_date | date:'dd.MM.yyyy'}}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>
        Количество
      </th>
      <td mat-cell *matCellDef="let row">{{row.qty}}</td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">

      </td>
    </ng-container>

    <tr mat-header-row></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsWithArrow"
        [class.example-expanded-row]="displayedColumnsWithArrow === row"></tr>
  </table>

